@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
button{
    width: 204px;
    height: 72px;
    color:#fff;
    background-color:#151515;
    font-family: Big Shoulders Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 3.636px;
    overflow: hidden;
}
button img{
    width: 10px;
    height: 10px;
    background-color: #D5966C;
}
.grid {
    display: grid;
    place-content: center;
    margin:0 auto; 
    gap:19px;
    padding:10px;
}
.grid img{
    width:100%;
    height:320px;
}
.hero{
    /* width:540px; */
    height:800px;
    background-image: url('./assets/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: 540px 800px;
}
.grid div, .hero {
    padding:45px 24px;
    gap:24px;
    display: grid;
}
.grid div:last-of-type{
    color:#fff;
    background-color: #000;
}
.grid div span{
    font-family: Big Shoulders Display;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 45px; /* 90% */
    text-transform: uppercase;
}
.grid div p, .hero p{
    font-family: Outfit;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px; /* 155.556% */

}
.grid .grid-1{
    grid-area: 2 / 1 / 2 / 1;
    padding:.5rem 0 ;
}

footer{
    display: grid;
    place-content: center;
    color:#fff;
    gap:35px;
    padding:48px 32px;
    background-color: #000;
}

footer > *{
    max-width: 1110px;
}
 footer .icons > img{
    margin-right:1rem;
    cursor: pointer;
 }
 footer .icons img:hover{
    /* color:#D5966C;
    background-color: #D5966C; */
    filter: brightness(0) saturate(100%) invert(93%) sepia(48%) saturate(2842%) hue-rotate(302deg) brightness(86%) contrast(93%);
 }


 @media (width > 500px) {
    .grid{
        gap:2rem;
        /* grid-template-rows:auto 700px 400px auto auto;
        grid-template-columns: 300px 640px; */
        /* grid-template-rows: auto (3, 313px);
        grid-template-columns: auto (2, 1fr); */
        max-width: 1110px;
        /* overflow: hidden; */
        outline :3px solid black;
        justify-content: space-between;

    }
    /* .grid div{
        height:377px;
        padding:0 20%;
        place-content: center;
    } */
    .grid .grid-1{
        grid-area: 1 / 1 / 1 / 1;
        padding:45px 0 0 24px;
        height:350px;
        width:280px;
    }

    .grid-2{
        grid-area: 1 / 2 / 1 / 2;
        /* width:635px; */
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .grid img .grid-1 {
        width:635px;
    }
    .grid .grid-3{
        grid-area: 2 / 1 / 6 / 1;
        width:635px;
        height:720px;
    }
    .grid .grid-4{
        grid-area: 2 / 2 / 2 / 2;
        width:445px;
        height:313px;
    }
    .grid .grid-5{
        grid-area: 3 / 2 / 3 / 2;
        width:445px;
        height:377px;
        padding:15% 15% 15% 10%;
    }
  
    /* .grid img{
        height:auto;
    } */
    .grid img {
        width:635px;
        height:auto;
    }
    footer{
        display: flex;
        justify-content: space-around;
    }
    footer p{
        max-width: 430px;
    }
 }